%h1 Create New Article
= simple_form_for @article, :url => author_articles_path(@author, @article) do |f|
  = f.input :title
  = f.input :body, as: :text
  
  = f.submit "Save this article"
  or
  = link_to "Cancel", author_articles_path(@author), class: 'btn btn-default'
